@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/pizza.png) no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0);
}

nav {
  background: #ffc107 fixed;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.navbar-custom .navbar-text {
  color: black;
}

nav .btn {
  background: yellow;
  border: 1px solid black;
  border-radius: 4px;
}

nav #order {
  color: yellow;
}

.header {
  background-image: linear-gradient(
    to right top,
    #ff4500,
    #ff5800,
    #ff6800,
    #ff7600,
    #ff8300
  ) 0.6;
  height: 90vh;
}

.header h1 {
  font-weight: bolder;
}

/* order form page */
.crust .form-check{
    display: inline-block;
}

.toppings .form-check{
    display: inline-block;
}

#form-card{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .10), 0 10px 10px -5px rgba(0, 0, 0 , .04);
    background-color: rgba(0, 0, 0);
    border-top: 1px solid #ffc107;
    border-right: 1px solid #ffc107;
    border-bottom: 1px solid #ffc107;
    border-radius: 0 20px 20px 0;
    color: #ffc107;
}

#main-card img{
  border-top: 1px solid #ffc107;
  border-bottom: 1px solid #ffc107;
  border-left: 1px solid #ffc107;
    border-radius: 20px 0 0 20px;
}

.list, .grand-total{
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
}