@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gowun Batang", serif;
}

nav {
  background: rgba(255, 255, 0, 1) fixed;
  color: black;
}

.navbar-custom .navbar-text {
  color: black;
}

nav .btn {
  background: black;
  border: none;
}

nav #order {
  color: yellow;
}

.header {
  background-image: linear-gradient(
    to right top,
    #ff4500,
    #ff5800,
    #ff6800,
    #ff7600,
    #ff8300
  ) 0.6;
  height: 90vh;
}

.header h1 {
  font-weight: bolder;
}

/* order form page */
.crust .form-check{
    display: inline-block;
}

.toppings .form-check{
    display: inline-block;
}

#form-card{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .10),0 10px 10px -5px rgba(0, 0, 0, .04),;
}